.catalog {
  &__container {
    padding-top: 15px;
    padding-bottom: 45px;
    gap: 35px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));

    @include extra-tablet {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include mobile {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include small-mobile {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}
