.header {
  background-color: var(--white);
  position: relative;

  &__container {
    padding-top: 41px;
    padding-bottom: 41px;

    @include small-tablet {
      padding-bottom: 25px;
    }
  }

  &__top {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
    transition: transform .3s ease-in-out;

    @include small-tablet {
      position: absolute;
      left: 0;
      top: 100%;
      height: 100vw;
      flex-direction: column;
      align-items: flex-start;
      padding: 20px;
      z-index: 3;
      background-color: var(--white);
      transform: translateX(-101%);
      justify-content: flex-start;
    }
  }

  &__logo {
    margin-left: auto;

    @include small-tablet {
      margin: 0 auto;
    }
  }

  &__burger {
    @include small-tablet {
      display: none;
    }
  }
}

.burger {
  margin-right: 12px;
  @include burger;
}

.header-social {
  margin-left: auto;

  @include small-tablet {
    display: none;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__icon {
    width: 20px;
    height: 20px;
    transition: fill .3s ease-in-out;

    &:hover {
      fill: var(--orange);
    }
  }

  &--mobile {
    display: none;

    @include small-tablet {
      display: block;
      margin-left: 0;
      margin-top: auto;
    }
  }
}

.header-nav {
  margin-right: 20px;
  display: inline-block;
  max-width: 910px;
  width: 100%;

  @include tablet {
    max-width: 810px;
  }

  @include small-tablet {
    margin-bottom: 30px;
    margin-right: 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 910px;
    width: 100%;

    @include small-tablet {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__item {
    display: flex;
    align-items: center;

    &:hover .header__burger .burger__line {
      background-color: var(--orange);
    }

    &:hover .header__burger::after,
    &:hover .header__burger::before {
      background-color: var(--orange);
    }
  }

  &__item:not(:last-child) {
    @include small-tablet {
      margin-bottom: 10px;
    }
  }

  &__link {
    font-size: 17px;
    font-weight: 400;
    color: var(--black);
    transition: color .3s ease-in-out;

    @include tablet {
      font-size: 15px;
    }

    &:hover {
      color: var(--orange);
    }
  }
}

.header-personal {
  display: inline-flex;
  align-items: center;

  &__item:not(:last-child) {
    margin-right: 20px;
  }

  &__item {
    &:hover .header-personal__icon {
      fill: var(--orange);
    }

    &:hover .header-personal__link {
      color: var(--orange);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 400;
    color: var(--black);
    transition: color .3s ease-in-out;

    @include tablet {
      font-size: 15px;
    }
  }

  &__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    transition: fill .3s ease-in-out;

    &:hover {
      fill: var(--orange);
    }
  }

  &__counter {
    margin-left: 10px;
    white-space: nowrap;
  }
}

.menu-burger {
  @include burger;
  display: none;

  &::after {
    width: 100%;
  }

  @include small-tablet {
    display: block;
  }
}

.menu-open {
  transform: none;
}
