<section class="banner">
  <!-- Slider main container -->
  <div class="swiper banner__swiper banner-swiper">
    <div class="swiper-wrapper banner-swiper__wrapper">
      <div class="swiper-slide banner-swiper__slide">
        <picture>
          <source srcset="/img/1-banner.avif" type="image/avif">
          <source srcset="/img/1-banner.webp" type="image/webp">
          <img loading="lazy" src="/img/1-banner.jpg" class="image" alt="Баннер">
        </picture>
        <div class="container banner-swiper__container">
          <div class="banner-swiper__content banner-content">
            <h3 class="heading-reset banner-content__heading">
              Каждое платье со своей историей
            </h3>
            <div class="banner-content__text">
              Одевая его, ты проживаешь её и погружаешься в атмосферу мечты, которая обязательно сбудется...
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide banner-swiper__slide">
        <picture>
          <source srcset="/img/2-banner.avif" type="image/avif">
          <source srcset="/img/2-banner.webp" type="image/webp">
          <img loading="lazy" src="/img/2-banner.jpg" class="image" alt="Баннер">
        </picture>
        <div class="container banner-swiper__container">
          <div class="banner-swiper__content banner-content">
            <h3 class="heading-reset banner-content__heading">
              бренд s.v.o. Дает женщинам возможность быть всегда в центре внимания
            </h3>
            <div class="banner-content__text">
              ...Позволь себе быть роскошной...
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide banner-swiper__slide">
        <picture>
          <source srcset="/img/3-banner.avif" type="image/avif">
          <source srcset="/img/3-banner.webp" type="image/webp">
          <img loading="lazy" src="/img/3-banner.jpg" class="image" alt="Баннер">
        </picture>
        <div class="container banner-swiper__container">
          <div class="banner-swiper__content banner-content">
            <h3 class="heading-reset banner-content__heading">
              элегантные, яркие, легкие, дерзкие, сексуальные силуэты одежды
            </h3>
            <div class="banner-content__text">
              Они задают тон и помогают создавать своим обладательницам яркие и законченные образы
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container banner-swiper__container">
      <div class="banner-swiper__buttons">
        <div class="swiper-button-prev banner-swiper__prev"></div>
        <div class="swiper-button-next banner-swiper__next"></div>
      </div>
    </div>
  </div>
</section>
