<section class="catalog">
  <div class="catalog__container container">
    <article class="hits__card card">
      <div class="card__visible">
        <a class="hits__card card__link" href="/single.html">
          <img loading="lazy" src="/img/1-card.webp" class="image" width="208" height="258" alt="Товар">
        </a>
        <div class="card__content">
          <h4 class="heading-reset card__heading">
            <a href="/single.html">
              Платье BlackBlackBlack
            </a>
          </h4>
          <div class="card__price">
            <div class="card__old-price">
              10 000
            </div>
            <div class="card__current-price">
              8 500 руб.
            </div>
          </div>
        </div>
      </div>
      <div class="card__buy pos-absolute">
        <form class="card__form" method="post" action="">
          <input type="hidden" name="shk-id">
          <div class="card__count">
            <span class="card__minus card__iteration">-</span>
            <label class="card__label-count" for="shk-count">
              <input class="input-reset card__input-count" type="number" name="shk-count" id="shk-count" value="1" size="3">
            </label>
            <span class="card__plus card__iteration">+</span>
          </div>
          <label class="card__label" for="cart_add">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <input class="card__submit btn-reset" type="submit" value="Купить" id="cart_add">
          </label>
        </form>
      </div>
    </article>
    <article class="hits__card card">
      <div class="card__visible">
        <a class="hits__card card__link" href="/single.html">
          <img loading="lazy" src="/img/1-card.webp" class="image" width="208" height="258" alt="Товар">
        </a>
        <div class="card__content">
          <h4 class="heading-reset card__heading">
            <a href="/single.html">
              Платье BlackBlackBlack
            </a>
          </h4>
          <div class="card__price">
            <div class="card__old-price">
              10 000
            </div>
            <div class="card__current-price">
              8 500 руб.
            </div>
          </div>
        </div>
      </div>
      <div class="card__buy pos-absolute">
        <form class="card__form" method="post" action="">
          <input type="hidden" name="shk-id">
          <div class="card__count">
            <span class="card__minus card__iteration">-</span>
            <label class="card__label-count" for="shk-count">
              <input class="input-reset card__input-count" type="number" name="shk-count" id="shk-count" value="1" size="3">
            </label>
            <span class="card__plus card__iteration">+</span>
          </div>
          <label class="card__label" for="cart_add">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <input class="card__submit btn-reset" type="submit" value="Купить" id="cart_add">
          </label>
        </form>
      </div>
    </article>
    <article class="hits__card card">
      <div class="card__visible">
        <a class="hits__card card__link" href="/single.html">
          <img loading="lazy" src="/img/1-card.webp" class="image" width="208" height="258" alt="Товар">
        </a>
        <div class="card__content">
          <h4 class="heading-reset card__heading">
            <a href="/single.html">
              Платье BlackBlackBlack
            </a>
          </h4>
          <div class="card__price">
            <div class="card__old-price">
              10 000
            </div>
            <div class="card__current-price">
              8 500 руб.
            </div>
          </div>
        </div>
      </div>
      <div class="card__buy pos-absolute">
        <form class="card__form" method="post" action="">
          <input type="hidden" name="shk-id">
          <div class="card__count">
            <span class="card__minus card__iteration">-</span>
            <label class="card__label-count" for="shk-count">
              <input class="input-reset card__input-count" type="number" name="shk-count" id="shk-count" value="1" size="3">
            </label>
            <span class="card__plus card__iteration">+</span>
          </div>
          <label class="card__label" for="cart_add">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <input class="card__submit btn-reset" type="submit" value="Купить" id="cart_add">
          </label>
        </form>
      </div>
    </article>
    <article class="hits__card card">
      <div class="card__visible">
        <a class="hits__card card__link" href="/single.html">
          <img loading="lazy" src="/img/1-card.webp" class="image" width="208" height="258" alt="Товар">
        </a>
        <div class="card__content">
          <h4 class="heading-reset card__heading">
            <a href="/single.html">
              Платье BlackBlackBlack
            </a>
          </h4>
          <div class="card__price">
            <div class="card__old-price">
              10 000
            </div>
            <div class="card__current-price">
              8 500 руб.
            </div>
          </div>
        </div>
      </div>
      <div class="card__buy pos-absolute">
        <form class="card__form" method="post" action="">
          <input type="hidden" name="shk-id">
          <div class="card__count">
            <span class="card__minus card__iteration">-</span>
            <label class="card__label-count" for="shk-count">
              <input class="input-reset card__input-count" type="number" name="shk-count" id="shk-count" value="1" size="3">
            </label>
            <span class="card__plus card__iteration">+</span>
          </div>
          <label class="card__label" for="cart_add">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <input class="card__submit btn-reset" type="submit" value="Купить" id="cart_add">
          </label>
        </form>
      </div>
    </article>
    <article class="hits__card card">
      <div class="card__visible">
        <a class="hits__card card__link" href="/single.html">
          <img loading="lazy" src="/img/1-card.webp" class="image" width="208" height="258" alt="Товар">
        </a>
        <div class="card__content">
          <h4 class="heading-reset card__heading">
            <a href="/single.html">
              Платье BlackBlackBlack
            </a>
          </h4>
          <div class="card__price">
            <div class="card__old-price">
              10 000
            </div>
            <div class="card__current-price">
              8 500 руб.
            </div>
          </div>
        </div>
      </div>
      <div class="card__buy pos-absolute">
        <form class="card__form" method="post" action="">
          <input type="hidden" name="shk-id">
          <div class="card__count">
            <span class="card__minus card__iteration">-</span>
            <label class="card__label-count" for="shk-count">
              <input class="input-reset card__input-count" type="number" name="shk-count" id="shk-count" value="1" size="3">
            </label>
            <span class="card__plus card__iteration">+</span>
          </div>
          <label class="card__label" for="cart_add">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <input class="card__submit btn-reset" type="submit" value="Купить" id="cart_add">
          </label>
        </form>
      </div>
    </article>
    <article class="hits__card card">
      <div class="card__visible">
        <a class="hits__card card__link" href="/single.html">
          <img loading="lazy" src="/img/1-card.webp" class="image" width="208" height="258" alt="Товар">
        </a>
        <div class="card__content">
          <h4 class="heading-reset card__heading">
            <a href="/single.html">
              Платье BlackBlackBlack
            </a>
          </h4>
          <div class="card__price">
            <div class="card__old-price">
              10 000
            </div>
            <div class="card__current-price">
              8 500 руб.
            </div>
          </div>
        </div>
      </div>
      <div class="card__buy pos-absolute">
        <form class="card__form" method="post" action="">
          <input type="hidden" name="shk-id">
          <div class="card__count">
            <span class="card__minus card__iteration">-</span>
            <label class="card__label-count" for="shk-count">
              <input class="input-reset card__input-count" type="number" name="shk-count" id="shk-count" value="1" size="3">
            </label>
            <span class="card__plus card__iteration">+</span>
          </div>
          <label class="card__label" for="cart_add">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <input class="card__submit btn-reset" type="submit" value="Купить" id="cart_add">
          </label>
        </form>
      </div>
    </article>
    <article class="hits__card card">
      <div class="card__visible">
        <a class="hits__card card__link" href="/single.html">
          <img loading="lazy" src="/img/1-card.webp" class="image" width="208" height="258" alt="Товар">
        </a>
        <div class="card__content">
          <h4 class="heading-reset card__heading">
            <a href="/single.html">
              Платье BlackBlackBlack
            </a>
          </h4>
          <div class="card__price">
            <div class="card__old-price">
              10 000
            </div>
            <div class="card__current-price">
              8 500 руб.
            </div>
          </div>
        </div>
      </div>
      <div class="card__buy pos-absolute">
        <form class="card__form" method="post" action="">
          <input type="hidden" name="shk-id">
          <div class="card__count">
            <span class="card__minus card__iteration">-</span>
            <label class="card__label-count" for="shk-count">
              <input class="input-reset card__input-count" type="number" name="shk-count" id="shk-count" value="1" size="3">
            </label>
            <span class="card__plus card__iteration">+</span>
          </div>
          <label class="card__label" for="cart_add">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <input class="card__submit btn-reset" type="submit" value="Купить" id="cart_add">
          </label>
        </form>
      </div>
    </article>
    <article class="hits__card card">
      <div class="card__visible">
        <a class="hits__card card__link" href="/single.html">
          <img loading="lazy" src="/img/1-card.webp" class="image" width="208" height="258" alt="Товар">
        </a>
        <div class="card__content">
          <h4 class="heading-reset card__heading">
            <a href="/single.html">
              Платье BlackBlackBlack
            </a>
          </h4>
          <div class="card__price">
            <div class="card__old-price">
              10 000
            </div>
            <div class="card__current-price">
              8 500 руб.
            </div>
          </div>
        </div>
      </div>
      <div class="card__buy pos-absolute">
        <form class="card__form" method="post" action="">
          <input type="hidden" name="shk-id">
          <div class="card__count">
            <span class="card__minus card__iteration">-</span>
            <label class="card__label-count" for="shk-count">
              <input class="input-reset card__input-count" type="number" name="shk-count" id="shk-count" value="1" size="3">
            </label>
            <span class="card__plus card__iteration">+</span>
          </div>
          <label class="card__label" for="cart_add">
            <svg class="card__icon">
              <use xlink:href="img/sprite.svg#cart"></use>
            </svg>
            <input class="card__submit btn-reset" type="submit" value="Купить" id="cart_add">
          </label>
        </form>
      </div>
    </article>
  </div>
</section>
