<section class="categories">
  <div class="container categories__container">
    <ul class="list-reset categories__list categories-list">
      <li class="categories-list__item">
        <a class="categories__link" href="#">
          <article class="categories__card category-card">
            <h3 class="heading-reset category-card__heading">
              Костюмы
            </h3>
          </article>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories__link" href="#">
          <article class="categories__card category-card">
            <h3 class="heading-reset category-card__heading">
              Вечерние платья
            </h3>
          </article>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories__link" href="#">
          <article class="categories__card category-card">
            <h3 class="heading-reset category-card__heading">
              Летние платья
            </h3>
          </article>
        </a>
      </li>
      <li class="categories-list__item">
        <a class="categories__link" href="#">
          <article class="categories__card category-card">
            <h3 class="heading-reset category-card__heading">
              Детская одежда
            </h3>
          </article>
        </a>
      </li>
    </ul>
  </div>
</section>
