<section class="filters">
  <div class="container filters__container">
    <h1 class="heading-reset h1">
      Вечерние платья
    </h1>
    <div class="filters__button">
      <svg class="filters__icon">
          <use xlink:href="img/sprite.svg#filter-icon"></use>
      </svg>
      Фильтры
    </div>
    <form class="filters__form filters-form" action="" style="display: none;" method="post">
      <div class="filters-form__block">
        <h3 class="filters-form__heading heading-reset">
          Цена
        </h3>
        <div class="filters-form__wrap">
          <div class="filters-form__inputs">
            <label for="from" class="filters-form__label">
              от
              <input class="input-reset filters-form__input" type="number" name="from" id="from">
            </label>
            <label for="to" class="filters-form__label">
              до
              <input class="input-reset filters-form__input" type="number" name="to" id="to">
            </label>
          </div>
          <div class="filters-form__slider" id="range-slider"></div>
        </div>
      </div>
      <div class="filters-form__block">
        <h3 class="filters-form__heading heading-reset">
          Вид одежды
        </h3>
        <div class="filters-form__wrap">
          <div class="filters-form__inputs w-fit">
            <label for="dresses" class="filters-form__label custom-checkbox">
              <input class="input-reset filters-form__checkbox custom-checkbox__field" type="checkbox" name="type_dress" id="dresses">
              <span class="custom-checkbox__content"></span>
              Платья
            </label>
            <label for="costume" class="filters-form__label custom-checkbox">
              <input class="input-reset filters-form__checkbox custom-checkbox__field" type="checkbox" name="type_dress" id="costume">
              <span class="custom-checkbox__content"></span>
              Костюмы
            </label>
          </div>
        </div>
      </div>
      <div class="filters-form__block">
        <h3 class="filters-form__heading heading-reset">
          Цвет
        </h3>
        <div class="filters-form__wrap">
          <div class="filters-form__inputs w-fit">
            <label for="color_black" class="filters-form__label custom-checkbox">
              <input class="input-reset filters-form__checkbox custom-checkbox__field" type="checkbox" name="color" id="color_black">
              <span class="custom-checkbox__content"></span>
              Черный
            </label>
            <label for="color_black" class="filters-form__label custom-checkbox">
              <input class="input-reset filters-form__checkbox custom-checkbox__field" type="checkbox" name="color" id="color_red">
              <span class="custom-checkbox__content"></span>
              Красный
            </label>
            <label for="color_white" class="filters-form__label custom-checkbox">
              <input class="input-reset filters-form__checkbox custom-checkbox__field" type="checkbox" name="color" id="color_white">
              <span class="custom-checkbox__content"></span>
              Белый
            </label>
            <label for="color__biege" class="filters-form__label custom-checkbox">
              <input class="input-reset filters-form__checkbox custom-checkbox__field" type="checkbox" name="color" id="color__biege">
              <span class="custom-checkbox__content"></span>
              Бежевый
            </label>
          </div>
        </div>
      </div>
      <div class="filters-form__block">
        <h3 class="filters-form__heading heading-reset">
          Коллекция
        </h3>
        <div class="filters-form__wrap">
          <div class="filters-form__inputs w-fit">
            <label for="collection_1" class="filters-form__label custom-checkbox">
              <input class="input-reset filters-form__checkbox custom-checkbox__field" type="checkbox" name="collection" id="collection_1">
              <span class="custom-checkbox__content"></span>
              Коллекция 1
            </label>
            <label for="collection_2" class="filters-form__label custom-checkbox">
              <input class="input-reset filters-form__checkbox custom-checkbox__field" type="checkbox" name="collection" id="collection_2">
              <span class="custom-checkbox__content"></span>
              Коллекция 2
            </label>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
