<footer class="footer">
  <div class="container footer__container">
    <div class="footer__top">
      <a href="/" class="footer__logo logo">
        <picture>
          <source srcset="/img/logo.avif" type="image/avif">
          <source srcset="/img/logo.webp" type="image/webp">
          <img loading="lazy" src="/img/logo.png" class="image" width="123" height="41" alt="">
        </picture>
      </a>
      <nav class="nav footer__nav footer-nav" title="Навигация">
        <ul class="nav__list footer-nav__list list-reset">
          <li class="nav__item footer-nav__item">
            <a href="#" class="nav__link footer-nav__link">
              Акции и скидки
            </a>
          </li>
          <li class="nav__item footer-nav__item">
            <a href="#" class="nav__link footer-nav__link">
              О компании
            </a>
          </li>
          <li class="nav__item footer-nav__item">
            <a href="#" class="nav__link footer-nav__link">
              Доставка и оплата
            </a>
          </li>
          <li class="nav__item footer-nav__item">
            <a href="#" class="nav__link footer-nav__link">
              Где купить
            </a>
          </li>
          <li class="nav__item footer-nav__item">
            <a href="#" class="nav__link footer-nav__link">
              Контакты
            </a>
          </li>
        </ul>
      </nav>
      <nav class="nav header__social header-social footer-social" title="Социальные сети">
        <ul class="nav__list list-reset header-social__list">
          <li class="nav__item header-social__item">
            <a href="#" class="nav__link header-social__link">
              <svg class="header-social__icon">
                <use xlink:href="img/sprite.svg#telegram"></use>
              </svg>
            </a>
          </li>
          <li class="nav__item header-social__item">
            <a href="#" class="nav__link header-social__link">
              <svg class="header-social__icon">
                <use xlink:href="img/sprite.svg#whatsapp"></use>
              </svg>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="footer__bottom">
      <div class="footer__description">
        2022 © Магазин дизайнерской одежды премиум класса
      </div>
      <a href="#" class="footer__malevich">
        Сделано в Малевич
      </a>
    </div>
  </div>
</footer>
<div id="sizes-table" style="display: none">
  <img src="/img/size-table.svg" width="900" height="900" alt="Таблица размеров">
</div>
