<section class="hits">
  <div class="container hits__container">
    <div class="hits__head">
      <h2 class="heading-reset hits__heading">
        Хиты
      </h2>
      <div class="hits-swiper__buttons">
        <div class="swiper-button-prev hits-swiper__prev"></div>
        <div class="swiper-button-next hits-swiper__next"></div>
      </div>
    </div>
    <div class="swiper hits-swiper">
      <div class="swiper-wrapper hits-swiper__wrapper">
        <div class="swiper-slide hits-swiper__slide">
          <article class="hits__card card">
            <a class="hits__card card__link" href="/single.html">
              <img loading="lazy" src="/img/1-card.webp" class="image" width="208" height="258" alt="Товар">
            </a>
            <div class="card__content">
              <h4 class="heading-reset card__heading">
                <a href="/single.html">
                  Платье BlackBlackBlack
                </a>
              </h4>
              <div class="card__price">
                <div class="card__old-price">
                  10 000
                </div>
                <div class="card__current-price">
                  8 500 руб.
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide hits-swiper__slide">
          <article class="hits__card card">
            <a class="hits__card card__link" href="/single.html">
              <img loading="lazy" src="/img/2-card.webp" class="image" width="208" height="258" alt="Товар">
            </a>
            <div class="card__content">
              <h4 class="heading-reset card__heading">
                <a href="/single.html">
                  Платье BlackBlackBlack
                </a>
              </h4>
              <div class="card__price">
                <div class="card__old-price">
                  10 000
                </div>
                <div class="card__current-price">
                  8 500 руб.
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide hits-swiper__slide">
          <article class="hits__card card">
            <a class="hits__card card__link" href="/single.html">
              <img loading="lazy" src="/img/3-card.webp" class="image" width="208" height="258" alt="Товар">
            </a>
            <div class="card__content">
              <h4 class="heading-reset card__heading">
                <a href="/single.html">
                  Платье BlackBlackBlack
                </a>
              </h4>
              <div class="card__price">
                <div class="card__old-price">
                  10 000
                </div>
                <div class="card__current-price">
                  8 500 руб.
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide hits-swiper__slide">
          <article class="hits__card card">
            <a class="hits__card card__link" href="/single.html">
              <img loading="lazy" src="/img/4-card.webp" class="image" width="208" height="258" alt="Товар">
            </a>
            <div class="card__content">
              <h4 class="heading-reset card__heading">
                <a href="/single.html">
                  Платье BlackBlackBlack
                </a>
              </h4>
              <div class="card__price">
                <div class="card__old-price">
                  10 000
                </div>
                <div class="card__current-price">
                  8 500 руб.
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide hits-swiper__slide">
          <article class="hits__card card">
            <a class="hits__card card__link" href="/single.html">
              <img loading="lazy" src="/img/1-card.webp" class="image" width="208" height="258" alt="Товар">
            </a>
            <div class="card__content">
              <h4 class="heading-reset card__heading">
                <a href="/single.html">
                  Платье BlackBlackBlack
                </a>
              </h4>
              <div class="card__price">
                <div class="card__old-price">
                  10 000
                </div>
                <div class="card__current-price">
                  8 500 руб.
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide hits-swiper__slide">
          <article class="hits__card card">
            <a class="hits__card card__link" href="/single.html">
              <img loading="lazy" src="/img/2-card.webp" class="image" width="208" height="258" alt="Товар">
            </a>
            <div class="card__content">
              <h4 class="heading-reset card__heading">
                <a href="/single.html">
                  Платье BlackBlackBlack
                </a>
              </h4>
              <div class="card__price">
                <div class="card__old-price">
                  10 000
                </div>
                <div class="card__current-price">
                  8 500 руб.
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide hits-swiper__slide">
          <article class="hits__card card">
            <a class="hits__card card__link" href="/single.html">
              <img loading="lazy" src="/img/3-card.webp" class="image" width="208" height="258" alt="Товар">
            </a>
            <div class="card__content">
              <h4 class="heading-reset card__heading">
                <a href="/single.html">
                  Платье BlackBlackBlack
                </a>
              </h4>
              <div class="card__price">
                <div class="card__old-price">
                  10 000
                </div>
                <div class="card__current-price">
                  8 500 руб.
                </div>
              </div>
            </div>
          </article>
        </div>
        <div class="swiper-slide hits-swiper__slide">
          <article class="hits__card card">
            <a class="hits__card card__link" href="/single.html">
              <img loading="lazy" src="/img/4-card.webp" class="image" width="208" height="258" alt="Товар">
            </a>
            <div class="card__content">
              <h4 class="heading-reset card__heading">
                <a href="/single.html">
                  Платье BlackBlackBlack
                </a>
              </h4>
              <div class="card__price">
                <div class="card__old-price">
                  10 000
                </div>
                <div class="card__current-price">
                  8 500 руб.
                </div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
