<section class="single">
  <div class="container single__container">
    <div class="single__left">
      <div class="swiper swiper-top">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="/img/single-big.avif" type="image/avif">
              <source srcset="/img/single-big.webp" type="image/webp">
              <img loading="lazy" src="/img/single-big.jpg" class="image" width="622" height="622" alt="Платье"
                   data-fancybox="gallery">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="/img/single-big.avif" type="image/avif">
              <source srcset="/img/single-big.webp" type="image/webp">
              <img loading="lazy" src="/img/single-big.jpg" class="image" width="622" height="622" alt="Платье"
                   data-fancybox="gallery">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="/img/single-big.avif" type="image/avif">
              <source srcset="/img/single-big.webp" type="image/webp">
              <img loading="lazy" src="/img/single-big.jpg" class="image" width="622" height="622" alt="Платье"
                   data-fancybox="gallery">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="/img/single-big.avif" type="image/avif">
              <source srcset="/img/single-big.webp" type="image/webp">
              <img loading="lazy" src="/img/single-big.jpg" class="image" width="622" height="622" alt="Платье"
                   data-fancybox="gallery">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="/img/single-big.avif" type="image/avif">
              <source srcset="/img/single-big.webp" type="image/webp">
              <img loading="lazy" src="/img/single-big.jpg" class="image" width="622" height="622" alt="Платье"
                   data-fancybox="gallery">
            </picture>
          </div>
        </div>
      </div>
      <div class="swiper swiper-bottom">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source srcset="/img/single-big.avif" type="image/avif">
              <source srcset="/img/single-big.webp" type="image/webp">
              <img loading="lazy" src="/img/single-big.jpg" class="image" width="182" height="182" alt="Платье">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="/img/single-big.avif" type="image/avif">
              <source srcset="/img/single-big.webp" type="image/webp">
              <img loading="lazy" src="/img/single-big.jpg" class="image" width="182" height="182" alt="Платье">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="/img/single-big.avif" type="image/avif">
              <source srcset="/img/single-big.webp" type="image/webp">
              <img loading="lazy" src="/img/single-big.jpg" class="image" width="182" height="182" alt="Платье">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="/img/single-big.avif" type="image/avif">
              <source srcset="/img/single-big.webp" type="image/webp">
              <img loading="lazy" src="/img/single-big.jpg" class="image" width="182" height="182" alt="Платье">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source srcset="/img/single-big.avif" type="image/avif">
              <source srcset="/img/single-big.webp" type="image/webp">
              <img loading="lazy" src="/img/single-big.jpg" class="image" width="182" height="182" alt="Платье">
            </picture>
          </div>
        </div>
      </div>
    </div>
    <div class="single__right">
      <div class="single__head">
        <h1 class="heading-reset single__heading">
          Платье вечернее
        </h1>
        <div class="single__fav">
          <svg class="single__fav-icon">
            <use xlink:href="img/sprite.svg#fav"></use>
          </svg>
        </div>
      </div>
      <div class="single__article">
        100500
      </div>
      <div class="single__stock">
        В наличии
      </div>
      <form class="single__form product-form" action="">
        <input class="product-form__color" type="hidden" name="color" value="">
        <input class="product-form__size" type="hidden" name="size" value="">
        <div class="product-form__wrap">
          <div class="product-form__current">
            Цвет:
            <span class="product-form__value product-form__value--color">Бежевый</span>
          </div>
          <div class="product-form__inputs">
            <ul class="list-reset color-list">
              <li class="color-list__item color-list__item--active" data-color="Бежевый"></li>
              <li class="color-list__item" data-color="Красный"></li>
              <li class="color-list__item" data-color="Белый"></li>
              <li class="color-list__item" data-color="Черный"></li>
            </ul>
          </div>
        </div>
        <div class="product-form__wrap">
          <div class="product-form__current">
            Состав:
          </div>
          <ul class="list-reset compound-list">
            <li class="compound-list__item">
              Холопок 100%
            </li>
          </ul>
        </div>
        <div class="product-form__wrap">
          <div class="product-form__current">
            Размер:
            <span class="product-form__value product-form__value--size">S</span>
          </div>
          <div class="product-form__inputs">
            <ul class="list-reset size-list">
              <li class="size-list__item color-list__item--active" data-size="S">S</li>
              <li class="size-list__item" data-size="M">M</li>
              <li class="size-list__item" data-size="L">L</li>
            </ul>
          </div>
          <a class="product-form__size-table" data-fancybox href="#sizes-table">Таблица размеров</a>
        </div>
        <div class="product-form__bottom">
          <div class="product-form__price">
            <div class="product-form__old-price">10 000</div>
            <div class="product-form__current-price">8 500 руб</div>
          </div>
          <div class="product-form__actions">
            <div class="product-form__counter card__count">
              <span class="card__minus card__iteration">-</span>
              <label class="card__label-count" for="shk-count">
                <input class="input-reset card__input-count" type="number" name="shk-count" id="shk-count" value="1"
                       size="3">
              </label>
              <span class="card__plus card__iteration">+</span>
            </div>
            <button class="product-form__button btn-reset">
              <svg class="product-form__icon">
                <use xlink:href="img/sprite.svg#cart"></use>
              </svg>
              Купить
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
