// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Raleway", sans-serif;
  --content-width: 1120px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --white: #fff;
  --black: #373737;
  --gray: #eeeeee;
  --gray-F5: #f5f5f5;
  --gray-DF: #dfdfdf;
  --dark-gray: #d4d4d4;
  --orange: #bc7e56;
  --peach: #c69273;
}
